[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
marshmallow = "*"
marshmallow-sqlalchemy = "*"
werkzeug = "*"
importlib-metadata = "*"
importlib-resources = "*"
ipdb = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.14"
